<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3D Force Graph</title>
    <script src="https://unpkg.com/3d-force-graph"></script>
</head>
<body>
    <div id="3d-graph"></div>

    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>

    <script>
        const wsHost = window.location.host;
        const ws = new WebSocket(`ws://${wsHost}/ws`);

        let graph = null;

        function initGraph(configOptions) {
            console.log('Initializing graph with options', configOptions)
            /*
                {
                    controlType: "trackball" | "orbit" | "fly",     // default "trackball"
                    renderConfig: WebGLRenderer object;             // default { antialias: true, alpha: true }, https://threejs.org/docs/#api/en/renderers/WebGLRenderer
                    extraRenderers: [WebGLRenderer object, ...],    // default[], e.g. https://threejs.org/docs/#examples/en/renderers/CSS3DRenderer
                }
             */
            graph = ForceGraph3D(configOptions)(document.getElementById('3d-graph'));
        }

        async function runGraphAction(action, argumentArray, argumentObject, actionId) {
            console.log(`Running action ${action} with arguments`, argumentArray, argumentObject);

            let returnValue = null;

            if (action === 'initGraph') {
                initGraph(argumentObject);

            } else if (!graph) {
                console.error('Graph not initialized');

            } else {
                const method = graph[action];

                if (typeof method === 'function') {
                    const arguments = argumentArray.concat([argumentObject]);
                    returnValue = method.apply(graph, arguments);

                } else {
                    console.error(`Method ${action} not found`);
                }
            }

            console.log(`Sending confirmation for action id ${actionId}`);
            ws.send(JSON.stringify({ "type": "confirmation", "actionId": actionId, "returnValue": returnValue }));
        }

        ws.onopen = () => {
            console.log(`Connected to server at ${wsHost}`);
        };

        ws.onmessage = event => {
            const data = JSON.parse(event.data);
            runGraphAction(data["action"], data["positionalArguments"], data["keywordArguments"], data["actionId"]);
        };
    </script>

</body>
</html>
